
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: $blue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.comment{
  border:1px solid #ddd;
  border-radius: 1px;
  margin: 15px 0;
  padding: 10px;
}
.comment h4{
  color: $commentTitleColor;
  font-size: 1.1rem;
}
.footer a{
  font-size: 2rem;
}